*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
     height: 100vh;
     width: 100vw;
     background: linear-gradient(90deg,rgb(17, 17, 17),rgb(19, 19, 19));
     
}
.calc{
    height: 450px;
    width: 300px;
    background: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px 15px 15px 15px;
    padding: 1px;
    box-shadow: 0 0 10px #0077ff;
}
.top{
    height: 20%;
    width: 100%;

}
#screen{
    height: 99%;
    width: 100%;
    /* border-radius: 16px; */
    background: none;
    border: none;
    font-size: 50px;
    text-align: right;
    padding-right: 2%;
}
.bottom{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button{
    height: 20%;
    width: 25%;
    border: none;
    /* border-radius: 20px; */
    background-color: aqua;
    font-size: 33px;
}
.spec{
    background: rgb(16, 126, 229);
}
button:hover{
    background: lawngreen;
}
.spec1{
    background: rgb(16, 126, 229);
    border-radius: 0px 0px 15px 0px;
}
.spec2{
    border-radius: 0px 0px 0px 15px;
}

